@model List<CAS_1._1._1.Models.destajos_material>
@{
    ViewBag.Title = "Destajos Aministrativos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var predio = new List<CAS_1._1._1.Models.predios>();

    using (var cnx = new CAS_1._1._1.Models.conexion2())
    {
        predio = cnx.predios.ToList();
    }
}

<style>
    td {
        padding: 10px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        vertical-align: middle;
    }

    .selec:hover {
        cursor: pointer;
    }

    .hidden-small {
        visibility: hidden;
    }

    .ocultar {
        visibility: hidden;
    }

    #otro_elemento:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<h4>Gestión de destajos</h4>
<div class="alert alert-@ViewBag.alerta"><b>@ViewBag.res</b></div>
<!--SELECCIONA PREDIO-->
<div class="">
    <div class="x_panel tile ">
        <div class="x_title">
            <h2>SELECCIONA EL PREDIO</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="table_predios" class="table table-bordered" style="font-size:14px">
                <thead style="background-color:dimgrey; color:white;">
                    <tr>
                        <th>#</th>
                        <th>Predio</th>
                        <th>Entidad</th>
                        <th>Municipio</th>
                        <th style="text-align:center">Opciones</th>
                    </tr>
                </thead>
                <tbody style="background-color:white">
                    @foreach (var u in predio)
                    {
                        <tr>
                            <td><span style="visibility:hidden; font-size:1px;">@u.id_predio</span><input class="form-control" type="number" style="font-size:15px" disabled value="@u.id_predio"></td>
                            <td><span style="visibility:hidden; font-size:1px;">@u.predio</span><input class="form-control" type="text" value="@u.predio" style="font-size:15px" disabled></td>
                            <td><span style="visibility:hidden; font-size:1px;">@u.entidad</span><input class="form-control" type="text" style="font-size:15px" value="@u.entidad" disabled></td>
                            <td><span style="visibility:hidden; font-size:1px;">@u.municipio</span><input class="form-control" type="text" style="font-size:15px" value="@u.municipio" disabled></td>
                            <td style="text-align:center">
                                <button class="btn btn-info collapse-link" style="margin: 2px; font-size:15px" type="button" id="btn_selec" name="btn_selec" onclick="seleccionar(registro = @u.id_predio)"><span class="glyphicon glyphicon-check"> Seleccionar</span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<form action="/DestajoMaterial/Index" method="post">
    <table class="table">
        <thead style="background-color: dimgray; color:white">
            <tr>
                <th>#</th>
                <th>Predio</th>
                <th>Entidad</th>
                <th>Municipio</th>
            </tr>
        </thead>
        <tbody id="tabla_selec"></tbody>
    </table>
    <div class="row gap-3" style="align-items:center; margin:10px;">
        <div class="col-auto">
            <label for="destajista" class="visually">Destajista(Maestro)</label>
            <input class="form-control" style="font-size:15px" type="text" name="destajista" id="destajista" required>
        </div>
        <div class="col-auto">
            <label for="fecha_inicio" class="visually">Fecha de inicio</label>
            <input class="form-control" type="date" name="inicio_semana" id="inicio_semana" style="font-size:15px" required>
        </div>
        <div class="col-auto">
            <label for="fecha_fin" class="visually">Fecha final</label>
            <input class="form-control" type="date" style="font-size:15px" name="fin_semana" id="fin_semana" required>
        </div>
        <div class="col hidden-small">
            <input class="form-control" type="hidden" name="elaboro" id="elaboro" value="@Session["usuario"]">
        </div>
        <div class="col-auto">
            <label for="estado_destajo" class="hidden-small">Estado</label>
            @Html.CheckBox("estado_destajo", true, new { @class = "hidden-small" })
        </div>
    </div>

    <div class="row gap-3" style="align-items:center; margin:10px;">
        <div class="col-auto">
            <button class="btn btn-info" style="margin: 2px; font-size:15px; margin:15px" type="button" id="btn_selec" name="btn_selec" onclick="AgregarNotas();"><span class="glyphicon glyphicon-pencil"> Agregar nota</span></button>
            <div id="notas">
            </div>
        </div>
    </div>
    <div class="col-auto" style="margin:15px">
        <label for="elaboro" class="visually">Observaciones</label>
        <textarea class="form-control" style="font-size:15px; max-width:730px; max-height:150px; height:120px" id="observaciones" name="observaciones"></textarea></p>
    </div>


    <button class="btn btn-danger" type="reset" name="btn2" id="btn2"><span class="glyphicon glyphicon-remove"> Resetear</span></button>
    <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-chevron-right"> SIGUIENTE</span></button>
</form>


@Html.Partial("_Modal_Error")

<script src="~/Scripts/app_material.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script>

    seleccionar = function (registro) {
        $.post(
            '/DestajoMaterial/seleccionar', {
            registro: registro//en este caso sería el codigo
        }, function (res) {
                $('#tabla_selec').html(res);

                document.getElementById('verificar_predioSelec').disabled = false;
                document.getElementById('verificar_predioSelec2').disabled = false;

                setTimeout(() => {
                    prueba();
                }, 500);

        });
    };

    
    var nextinput2 = 0;
    function AgregarNotas() {
        if (nextinput2 < 2) {
            nextinput2++;
            var nota = '' +
                '<div class="row" style="padding:10px; margin:5px; font-weight:bold; display:flex; align-items:center">' +
                '<div class="col-auto"> <p>NOTA</p>' +
                '<p><textarea class="form-control" style="font-size:15px; width:500px; max-height:200px;height:100px" id="nota' + nextinput2 + '" name="nota' + nextinput2 + '" ></textarea></p>' +
                '</div>' +
                '<button class="btn btn-danger remove_nota" style="margin: 0 0 0 20px" type="button" ><span class="glyphicon glyphicon-trash"> Eliminar</span></button>' +

                '</div>';
            $("#notas").append(nota);
        }
        else {
            $('#modal_error_nota').modal('show');
        }

    }
    //////////////QUITAR NOTAS
    $('#notas').on('click', '.remove_nota', function () {
        $(this).parent().remove();
        nextinput2--;
    });
    ///////////////

    $(document).ready(function () {
        $('#table_predios').DataTable();

    });

    var table = $('#table_predios').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay registros...",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
    });

    prueba = function () {
        $.post(
            '/Destajo/SetVariable',
            {
                value: $("#id_predio").val()
            }, null
        );
    };


    const fechaInput = document.querySelector('#fin_semana');
    fechaInput.addEventListener('input', e => {

        var fechainicial = document.getElementById("inicio_semana").value;
        var fechafinal = document.getElementById("fin_semana").value;

        var f_i = moment(fechainicial);
        var f_f = moment(fechafinal);

        if (Date.parse(fechafinal) < Date.parse(fechainicial)) {
            fechaInput.value = '';
            $('#modal_error_fecha').modal('show');
        }
    });

</script>
