@model CAS_1._1._1.Models.Conceptos_material
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Nueva estimación";

    }

<h4>Nueva estimación</h4>
<div class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.res</b> - - </div>
<form action="/DestajoMaterial/Nueva_est_concepto" method="post">

    <input type="hidden" name="id_destajos_material" id="id_destajos_material" value="@ViewBag.id_destajos_material" />
    <input type="hidden" name="n_semana" id="n_semana" value="@ViewBag.n_semana" />
    <input type="hidden" name="id_concepto" id="id_concepto" value="@Model.id_concepto" />
    <input type="hidden" name="acum_actual_pza" id="acum_actual_pza" value="@ViewBag.acum_actual_pza" />

    <input type="hidden" name="id_predio" id="id_predio" value="@ViewBag.id_predio" />
    <input type="hidden" name="predio" id="predio" value="@ViewBag.predio" />
    <input type="hidden" name="elaboro" id="elaboro" value="@ViewBag.elaboro" />
    <input type="hidden" name="inicio_semana" id="inicio_semana" value="@ViewBag.inicio_semana" />
    <input type="hidden" name="fin_semana" id="fin_semana" value="@ViewBag.fin_semana" />
    <input type="hidden" name="id_destajo" id="id_destajo" value="@ViewBag.id_destajo" />
    <input type="hidden" name="destajista" id="destajista" value="@ViewBag.destajista" />
    <input type="hidden" name="observaciones" id="observaciones" value="@ViewBag.observaciones" />
    <input type="hidden" name="nota1" id="nota1" value="@ViewBag.nota1" />
    <input type="hidden" name="nota2" id="nota2" value="@ViewBag.nota2" />
    <input type="hidden" name="n_semana" id="n_semana" value="@ViewBag.n_semana" />


    <br />
    <div class="col-auto" style="margin:15px">
        <label for="elaboro" class="visually">Concepto</label>
        <textarea class="form-control" readonly style="font-size:15px; max-width:730px; max-height:150px; height:120px" id="concepto" name="concepto">@Model.concepto</textarea>
    </div>
    <div class="row gap-5" style="align-items:center; margin:10px;">
        <div class="col-auto">
            <label for="nombre" class="visually">Unidad elemento</label>
            <input class="form-control" type="text" value="@Model.unidad_elemento" name="unidad_elemento" id="unidad_elemento" style="font-size:15px" readonly>
        </div>
        <div class="col-auto">
            <label for="nombre" class="visually">Vol o Cont</label>
            <input class="form-control" type="text" value="@Model.vol_cont" name="vol_cont" id="vol_cont" style="font-size:15px" readonly>
        </div>
        <div class="col-auto">
            <label for="nombre" class="visually">Px paquete</label>
            <input class="form-control" type="text" value="@Model.px_paquete" name="px_paquete" id="px_paquete" style="font-size:15px" readonly>
        </div>
        <div class="col-auto">
            <label for="nombre" class="visually">Valor total</label>
            <input class="form-control" type="text" value="@Model.valor_total" name="valor_total" id="valor_total" style="font-size:15px" readonly>
        </div>
    </div>
    <div class="row gap-5" style="align-items:center; margin:10px;">
        <div class="col-auto">
            <label for="apellido_pa" class="visually">Estimado anterior</label>
            <input class="form-control" type="number" style="font-size:15px" value="@ViewBag.acum_actual_pza" name="est_pasado" id="est_pasado" readonly>
        </div>
        <div class="col-auto">
            <label for="apellido_pa" class="visually">A estimar</label>
            <input step="any" class="form-control" type="number" style="font-size:15px" name="est" id="est" required>
        </div>
    </div>
    @*--------------------------------------------------*@
    <br /><br />
    <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save"> Agregar</span></button>

</form>
<br />
<br />
