@model CAS_1._1._1.Models.semana_destajos_admin
@{
    ViewBag.Title = "Editar semana";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Gestión de Destajos Administración</h2>
<div class="alert alert-@ViewBag.alerta">--<b>@ViewBag.res</b>--</div>
<form action="/Semana/Eliminar" method="post">
    <input type="hidden" id="id_semana" name="id_semana" value="@Model.id_semana" />
    <div class="input-group mb-3">
        <span class="input-group-text" style="font-size:15px">Fecha de inicio</span>
        <input class="form-control" type="datetime-local" value="@Model.fecha_inicio" name="fecha_inicio" id="fecha_inicio" style="font-size:15px" required>
        <span class="input-group-text" style="font-size:15px">Fecha final</span>
        <input class="form-control" type="datetime-local" value="@Model.fecha_fin" style="font-size:15px" name="fecha_fin" id="fecha_fin" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" style="font-size:15px">Descripción semana</span>
        <textarea class="form-control" style="font-size:15px" value="@Model.descripcion_semana" id="descripcion_semana" name="descripcion_semana"></textarea>
    </div>
    <button class="btn btn-succes" style="font-size:15px" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save"> Actualizar</span> </button>
    <a class="btn btn-danger" href="~/Semana/Index" style="font-size:15px"><span class="glyphicon glyphicon-backward"> Regresar</span> </a>
</form>
<br />
<table id="table_semana" class="table table-bordered" style="font-size:14px">
    <thead style="background-color:dimgrey; color:white">
        <tr>
            <th>#</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody style="background-color:white">
        <tr>
            <td>@Model.id_semana</td>
            <td>@Model.fecha_inicio</td>
            <td>@Model.fecha_fin</td>
            <td>@Model.descripcion_semana</td>
        </tr>
    </tbody>
</table>