@model List<CAS_1._1._1.Models.trabajadores_destajos_admin>
@{
    var user = new List<CAS_1._1._1.Models.altausuario>();

    using (var cnx = new CAS_1._1._1.Models.conexion2())
    {
        user = cnx.altausuario.ToList();
    }

    ViewBag.Title = "Trabajador";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .ocultar {
        visibility: hidden;
    }
    #div1 {
        overflow: scroll;
        height: 100%;
        width: 100%;
    }

        #div1 table {
            width: 100%;
            background-color: lightgray;
        }
</style>
<h2>Gestión de Destajos Administración</h2>
<div class="alert alert-@ViewBag.alerta"><b>@ViewBag.res</b></div>
<div id="div1">
    <table id="table_trabajador" class="table table-bordered" style="font-size:11px">
        <thead style="background-color:dimgrey; color:white">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Categoria</th>
                <th>Pago día</th>
                <th>Días trabajados</th>
                <th>Inf</th>
                <th>Pres</th>
                <th>Subtotal</th>
                <th>Tiempo extra</th>
                <th>Total</th>
                <th style="text-align:center">Opciones</th>
            </tr>
        </thead>
        <tbody style="background-color:white">
            @foreach (var f in Model)
            {
                <tr>
                    <td>@f.id_trabajador</td>
                    <td>@f.nombre</td>
                    <td>@f.apellido_pa</td>
                    <td>@f.apellido_ma</td>
                    <td>@f.categoria</td>
                    <td>@f.pago_dia</td>
                    <td>@f.dias_trabajados</td>
                    <td>@f.inf</td>
                    <td>@f.pres</td>
                    <td>@f.subtotal</td>
                    <td>@f.extra</td>
                    <td>@f.total</td>
                    <td style="text-align:center">
                        <div style="display:grid; grid-template-columns: 1fr; grid-gap: 3px">
                            <button class="btn btn-warning" style="margin: 2px; font-size:15px" type="button" id="btn_act" name="btn_act" onclick="location.href = '../Trabajadores/Editar?id=@f.id_trabajador'"><span class="glyphicon glyphicon-edit"> Actualizar</span></button>
                            <button class="btn btn-danger" style="margin: 2px; font-size:15px" type="button" id="btn_eli" name="btn_eli" onclick="location.href = '../Trabajadores/Eliminar?id=@f.id_trabajador'"><span class="glyphicon glyphicon-trash"> Eliminar</span></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <script src="~/Scripts/app.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_trabajador').DataTable();
        });
        var table = $('#table_trabajador').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    </script>
